<!DOCTYPE html>
<html lang="ja" ng-app="disaster-information-client">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title translate="TITLE"></title>
    <script src="./bower_components/angular/angular.min.js"></script>
    <script src="./bower_components/angular-translate/angular-translate.min.js"></script>
    <script src="./bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js"></script>
    <script src="./src/app.js"></script>
    <link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="./src/style.css">
  </head>
  <body>
    <div class="container">

      <header class="header">
        <div class="header-console" ng-controller="consoleCtrl">
          <h2 class="hide" translate="CONSOLE"></h2>

          <form class="text-right">
            <h3 class="hide" translate="LANGUAGE"></h3>
            <div class="form-group">
              <input
                type="radio"
                name="language"
                ng-model="key"
                ng-change="changeLanguage(key)"
                value="ja"
                id="language-ja">
              <label class="control-label" for="language-ja" accesskey="j">日本語</label>
              <input
                type="radio"
                name="language"
                ng-model="key"
                ng-change="changeLanguage(key)"
                value ="en"
                id="language-en">
              <label class="control-label" for="language-en" accesskey="e">English</label>
            </div><!--.formg-roup-->
          </form>

          <h1 translate="TITLE"></h1>
          <p translate="DESCRIPTION"></p>
        </div>
      </header>





      <main ng-controller="contentCtrl">
        <div class="alert alert-danger" role="alert" ng-show="err" translate="MESSAGES.ERROR"></div>

        <article class="entry-content" ng-repeat="entry in entries" ng-hide="err">
          <h2 class="entry-title" ng-bind="entry.title"></h2>
            <div class="row">
            <div class="col-xs-12 col-sm-3">
              <div class="entry-meta">
                <ul class="entry-meta-elements">
                  <li>
                    <h3 class="entry-meta-head" translate="POSTED_ON"></h3>
                    <span class="date" ng-bind="entry.date"></span>
                    <span class="time" ng-bind="entry.time"></span>
                  </li>

                  <li>
                    <h3 class="entry-meta-head" translate="TAGS"></h3>
                    <ul class="entry-tags"><li ng-repeat="tag in entry.tags" ng-bind="tag"></li></ul>
                  </li>

                  <li>
                    <h3 class="entry-meta-head" translate="LANGUAGE"></h3>
                    <span ng-bind="entry.lang"></span>
                  </li>
                </ul>
              </div><!--.entry-meta-->
            </div><!--.col-->

            <div class="col-xs-12 col-sm-9">
              <h3 class="hide" translate="POSTED_CONTENT"></h3>
              <div class="entry-body" ng-bind="entry.body"></div>
            </div><!--.col-->

          </div><!--.row-->
        </article><!--.entry-content-->
      </main>

    </div><!--.container-->
  </body>
</html>
