$line-height-base: 1.428571429; // line-height-base@Bootstrap = 20/14

// this prevent to render not-equivalent-elements
[ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

a.site-title {
    color: inherit;
    &:hover {
        text-decoration: none;
        opacity: .6;
    }
}

.site-meta {
    margin-top: 1em;
}

.entry-content {
    padding: 0 1em .3em;
    border-top: 1px dashed #666;
    &:last-child {
        border-bottom: 1px dashed #666;
    }
}

.entry-title {
    font-size: 1.5em;
}

.entry-meta-elements, .entry-tags {
    padding: 0;
    list-style: none;
}

.entry-meta-elements li {
    display: block;
}

.entry-meta-head {
    font-weight: bold;
    font-size:1em;
    display: inline;
}

.entry-meta-head.meta {
    display: block;
    line-height: $line-height-base; // line-height-base@Bootstrap = 20/14
    margin: 0 auto;
}

.entry-user-meta {
    line-height: $line-height-base; // line-height-base@Bootstrap = 20/14
    margin: 0 auto;
}

.entry-tags {
    display:inline;
    li {
        display: inline;
        &:after {
            content: ' ';
        }
        &:last-child:after {
            content: none;
        }
    }
}



.entry-meta-excerpt {
    margin-top: .5em;
    margin-bottom: 0;
}

.entry-title-excerpt {
    font-weight: bold;
    margin-top: .2em;
    margin-bottom: .2em;
    font-size: 1em;
}

.entry-body-excerpt {
    margin-top: .2em;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: hidden;
}

.single-entry {
    margin: 1em;
    padding: 1em;
    border: 1px solid black;
}

.alert-window {
    margin: 1em;
}

.language-switch {
    margin-top: .5em;
}
