// this prevent to render not-equivalent-elements
[ng-cloak] {
    display: none !important;
}

a.site-title {
    color: inherit;
    &:hover {
        text-decoration: none;
        opacity: .6;
    }
}

.site-meta {
    margin-top: 1em;
}

.entry-content {
    padding: 0 1em 1em;
    border-top: 1px dashed #666;
    &:last-child {
        border-bottom: 1px dashed #666;
    }
}

.entry-title {
    font-size: 1.5em;
}

.entry-meta-elements, .entry-tags {
    padding: 0;
    list-style: none;
}

.entry-meta-elements li {
    display: block;
}

.entry-meta-head {
    font-weight: bold;
    font-size:1em;
    display: inline;
}

.entry-tags {
    display:inline;
    li {
        display: inline;
        &:after {
            content: ' ';
        }
        &:last-child:after {
            content: none;
        }
    }
}


.entry-title-excerpt {
    font-size: 1em;
}

.entry-body-excerpt {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: hidden;
}

.single-entry {
    margin: 2em;
    padding: 1em;
    border: 1px solid black;
}

.alert-window {
    margin: 1em;
}

.language-switch {
    margin-top: .5em;
}
