.header {
    margin-top: .5em;
    border-bottom: 1px solid #666;
}

.entry-content {
    padding: 0 1em 1em;
    border-bottom: 1px dashed #666;
    &:last-child {
        border-bottom: none;
    }
}

.entry-title {
    font-size: 1.5em;
}

.entry-meta-elements, .entry-tags {
    padding: 0;
    list-style: none;
}

.entry-meta-elements li {
    display: block;
}

.entry-meta-head {
    font-weight: bold;
    font-size:1em;
    display: inline;
}

.entry-tags {
    display:inline;
    li {
        display: inline;
        &:after {
            content: ' ';
        }
        &:last-child:after {
            content: none;
        }
    }
}


.entry-title-excerpt {
    font-size: 1em;
}

.entry-body-excerpt {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: hidden;
}
